.rating-star-form {
  margin: 10px auto 0 auto;
  background-color: #fff;
  padding: 15px;
  border: solid 1px #eee;
  border-radius: 10px;

  .rating-star-review {
    height: 135px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 15px;

    .rsr__left {
      width: 20%;
      float: left;
      border-right: solid 1px #eee;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 135px;
      text-align: center;
      box-sizing: border-box;
    }

    .rsr__right {
      font-size: 13px;
      overflow: hidden;
      box-sizing: border-box;
      width: 40%;
      float: left;
      border-right: solid 1px #eee;
      height: 135px;

      &:last-child {
        border-right: solid 0px #eee;
      }

      .ant-space-item {
        padding: 0px 20px;
      }

      button {
        position: relative;
        display: block;
        width: 200px;
        margin: 39px auto 0;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        box-sizing: border-box;
        color: #fff;
        background-color: transparent;
        transition: all 0.5s;
        font-size: 16px;
        border: 1px solid #ff385c;
        transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
          border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: 1;
        overflow: hidden;

        &:hover {
          background-color: #fff;
          color: #ff385c;
        }
        &:hover::before {
          -webkit-transform-origin: right center;
          transform-origin: right center;
          -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
        }

        &::before {
          background-color: #ff385c;
          position: absolute;
          content: "";
          display: block;
          top: 0;
          bottom: 0;
          right: -2px;
          left: -2px;
          transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
            -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transform: scale(1, 1);
          transform-origin: left center;
          z-index: -1;
        }
      }
    }
  }

  .form_control {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4e9f0 !important;
    border-radius: 4px !important;
    transition: all 0.3s;
    box-shadow: none;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    position: relative;
    padding: 7px 13px;
    width: 100%;
    height: auto;
    // min-height: 38px;

    &:focus {
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  .btn-effect-default {
    position: relative;
    display: block;
    width: 100%;
    // margin: 39px auto 0;
    padding: 7px 13px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    background-color: transparent;
    transition: all 0.5s;
    font-size: 16px;
    border: 1px solid #ff385c;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
      border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    overflow: hidden;
    height: auto;

    &:hover {
      background-color: #fff;
      color: #ff385c;
    }
    &:hover::before {
      -webkit-transform-origin: right center;
      transform-origin: right center;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
    }

    &::before {
      background-color: #ff385c;
      position: absolute;
      content: "";
      display: block;
      top: 0;
      bottom: 0;
      right: -2px;
      left: -2px;
      transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
        -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transform: scale(1, 1);
      transform-origin: left center;
      z-index: -1;
    }
  }
}

@media (max-width: 768px) {
  .rating-star-form {
    .rating-star-review {
      height: auto;

      .rsr__left {
        width: 100%;
        border-right: none;
      }
      .rsr__right {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        border-right: none;
      }
    }
  }
}
